.smallsize{
    font-size : 10px;

}
.mediumsize{
    font-size : 16px;

}
.rougeodpf{

    color : #B21B16;
}

select:valid{
    color:  #B21B16;
    background-color: white;

}
select option { color: black; }
select:invalid{
    color:  black;
    background: white;
}
.list-group{
 font-size: 1vw;


}

h5{
    font-size: 1vw;
}
