.smallsize{
    font-size : 10px;

}
.rougeodpf{

    color : #B21B16;
}

select:valid{
    color:  #B21B16;
}
select option { color: black; }
select:invalid{
    color:  black;
}
.list-group{
 font-size: 1vw;


}




h5{
    font-size: 1vw;
}