<div class="row  justify-content-around">
    <div class="ppal-pages">
        <span class="site-logo"><a href="/"></a></span>
        <nav class="menu-ppal">
            <ul class="nav flex-column flex-md-row">
                <li class="nav-item menu-ppal-text">
                    <a class="nav-link" href="#">Actus</a>
                </li>
                <li class="nav-item active  menu-ppal-text">
                    <a class="nav-link" href="{{ path('core_olympiades','c_est_quoi') }}">Les Olympiades de Physique France</a>
                </li>
                <li class="nav-item menu-ppal-text">
                    <a class="nav-link" href="#">Le Concours 2021-2022</a>
                </li>
                <li class="nav-item menu-ppal-text">
                    <a class="nav-link" href="#">Revivez les éditions passées</a>
                </li>
                <li class="nav-item menu-ppal-text pr-0">
                    <a class="nav-link" href="#">Partenaires</a>
                </li>
            </ul>
        </nav>
    </div><!--ppal-pages_-->
</div><!--row-->