<div class="row  justify-content-end">
    <nav>
        <ul class="nav flex-column flex-md-row">
            <li class="nav-item menu_haut">
                <a class="nav-link" href="#">Recherche</a>
            </li>
            <li class="nav-item  menu_haut">
                <a class="nav-link" href="#">Administration</a>
            </li>
            <li class="nav-item menu_haut">
                <a class="nav-link " href="#">Presse</a>
            </li>
            <li class="nav-item menurouge">
                <a class="nav-link" href="#">Connexion</a>
            </li>
        </ul>
    </nav>
</div>