<span class="split-large"></span>
<div class="menu-bas">
    <ul>
        <li><a href="#">Actus</a>
        </li>
        <li><a href="#">Les olympiades de Physique France</a>
            <ul>
                <li><a href="#">C'est quoi ?</a></li>
                <li><a href="#">Comment ça se passe ?</a></li>
                <li><a href="#">Pourquoi participer ?</a></li>
                <li><a href="#">Les aides</a></li>
                <li><a href="#">Les récompenses</a></li>
                <li><a href="#">Qui organise ?</a></li>
                <li><a href="#">La presse en parle</a></li>
                <li><a href="#">Les vidéos</a></li>
            </ul>
        </li>
        <li><a href="#">Le concours {{ app.session.get('edition').annee }}</a>
            <ul>
                <li><a href="#">Inscrire une équipe !</a></li>
                <li><a href="#">Le calendrier</a></li>
                <li><a href="#">Les cartes des équipes</a></li>
                <li><a href="#">Les Concours Interacadémiques</a></li>
                <li><a href="#">Les épreuves nationales</a></li>
            </ul>
        </li>
        <li><a href="#">Revivez les Editions passées</a>
            <ul>
                <li><a href="#">Les éditions</a></li>
                <li><a href="#">Les mémoires</a></li>
                <li><a href="#">Le colloque de la XXè édition</a></li>
            </ul>
        </li>
        <li><a href="#">Partenaires</a>
            <ul>
                <li><a href="#">Nos mécènes</a></li>
                <li><a href="#">Nos donateurs</a></li>
            </ul>
        </li>
        <li><a href="#">Espace Presse</a></li>
        <li><a href="#">Nos liens</a></li>
    </ul>
</div>
