<div class="bloc-archive-photo">
    <p><a href="https://www.universite-paris-saclay.fr/luniversite/gouvernance"><img src="{{ asset(photoparrain)}}" alt="Photo du parrain" width="180" height="120"></a></p>
    <p>{{ parrain }}</p>
    <p>{{ titreparrain}}</p>
    <p></p>
    <p></p>
    <p><img src="{{ asset(affiche)}}" width="168" height="240" alt="affiche"></p>
</div>