<div class="bloc-archive-photo">
    <p><a href="https://www.universite-paris-saclay.fr/luniversite/gouvernance"><img src="{{ asset('odpf-images/Sylvie-Retailleau.png')}}" alt="Sylvie Retailleau" }} width="180" height="120"></a></p>
    <p>Sylvie Retailleau</p>
    <p>Marraine de la 29° édition</p>
    <p>Crédit : Université Paris -Saclay</p>
    <p><img src="{{ asset('odpf-images/Affiche-olympiades.png')}}" width="168" height="240" alt="affiche"></p>
</div>