{# templates/bundles/EasyAdminBunble/photos.html.twig#}
{%  for value in field.value %}


<a href="{{ asset('odpf-images/imagescarousels/'~value.name)}}" target="_blank"><center><img src="{{ asset('odpf-images/imagescarousels/'~value.name)}}" alt="{{ value.name }}"  class="img-thumbnail img-fluid" style="width: auto; height :120px"> : {{ value.coment }}</center></a>
{%  endfor %}