{# templates/bundles/EasyAdminBunble/photos.html.twig#}


<a href="{{ asset('upload/photos/'~field.value)}}"><center><img src="{{ asset('upload/photos/thumbs/'~field.value)}}" alt="{{ field.value }}" width="50%" height="50%"></center></a>