{# templates/bundles/EasyAdminBunble/photos.html.twig#}


<a href="{{ asset(app.session.get('pathphoto')~field.value)}}" target="_blank"><center><img src="{{ asset(app.session.get('pathphoto')~'thumbs/'~field.value)}}" alt="{{ field.value }}"  class="img-thumbnail img-fluid"></center></a>