{# templates/Admin/customizations/list_equipescia.html.twig#}
{% extends '@!EasyAdmin/layout.html.twig' %}


        {% block page_actions_wrapper %}
            <a href="{{ path('equipes_tableau_excel') }}" type="button" class="btn btn-primary" >Extraire un tableau excel des équipes</a>{{ parent() }}
        {% endblock %}

